@model IEnumerable<BulbPower.Models.Experiment>

@{
    ViewData["Title"] = "Project Bulb";
}
<br>
<br>
<br>
<div>
    <h3>Create New Experiment</h3>
    <form asp-action="CreateExperiment" method="post" >
        <input type="number" name="numberOfPeople" placeholder="Number of People" class="rounded" required>
        &nbsp;&nbsp;
        <input type="number" name="numberOfBulbs" placeholder="Number of Bulbs" class="rounded" required>
        &nbsp;&nbsp;
        <button type="submit" style="padding-inline:30px; border-radius:5px">Create</button>
    </form>
</div>

<br>
<br>
<br>

<div>
    <h3>Existing Experiments</h3>
    <table class="table table-bordered table-striped" style="width:auto">
        <thead class="" style="background-color:lightgrey">
            <tr>
                <th>Experiment Name</th>
                <th>Number of Bulbs</th>
                <th>Number of People</th>
                <th>Status</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var experiment in Model)
            {
                <tr>
                    <td>@experiment.ExperimentName</td>
                    <td>@experiment.NumberOfBulbs</td>
                    <td>@experiment.NumberOfPeople</td>
                    <td>@experiment.ExperimentStatus
                        <a class="btn btn-outline-dark mx-xl-3" style="padding-inline:30px; border-radius:5px" asp-controller="Experiment" asp-action="Details" asp-route-id="@experiment.ExperimentId">Details</a>
                    </td>
                </tr>
            }
        </tbody>
        
    </table>
</div>
