@model IEnumerable<ExperimentVM>

@{
    ViewData["Title"] = "Project Bulb";
}
<br>
<br>
<br>
<div>
    <h3>Create New Experiment</h3>
    <form asp-action="CreateExperiment" method="post" >
        <input type="number" name="numberOfPeople" placeholder="Number of People" class="rounded" required>
        <span asp-validation-for="@Model.FirstOrDefault().Experiment.NumberOfPeople" class="text-danger"></span>
        &nbsp;&nbsp;
        <input type="number" name="numberOfBulbs" placeholder="Number of Bulbs" class="rounded" required>
        <span asp-validation-for="@Model.FirstOrDefault().Experiment.NumberOfBulbs" class="text-danger"></span>
        &nbsp;&nbsp;
        <button type="submit" style="padding-inline:30px; border-radius:5px">Create</button>
    </form>
</div>

<br>
<br>
<br>
@if(@Model.Count() != 0)
{
<div>
    <h3>Existing Experiments</h3>
    <table class="table table-bordered table-striped" style="width:auto">
        <thead class="" style="background-color:lightgrey">
            <tr>
                <th>Experiment Name</th>
                <th>Number of Bulbs</th>
                <th>Number of People</th>
                <th>Status</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var experiment in Model)
            {
                <tr>
                    <td>@experiment.Experiment.ExperimentName</td>
                    <td>@experiment.Experiment.NumberOfBulbs</td>
                    <td>@experiment.Experiment.NumberOfPeople</td>
                    <td>
                        @experiment.Experiment.ExperimentStatus
                        <a class="btn btn-outline-dark mx-xl-3" style="padding-inline:30px; border-radius:5px" asp-controller="Experiment" asp-action="Details" asp-route-id="@experiment.Experiment.ExperimentId">Details</a>
                        <form asp-controller="Home" asp-action="DeleteExperiment" asp-route-id="@experiment.Experiment.ExperimentId" method="post" onsubmit="return confirm('Are you sure you want to delete this experiment?');" class="d-inline">
                            <button class="btn btn-outline-danger" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>

    </table>
    </div>
}
else
{
    <div class="alert-warning">
        <b>No Experiment exists, Create New Experiments!!</b>
    </div>
}
