@model BulbPower.Models.Experiment

@{
    ViewData["Title"] = "Experiment Details";
}
<br />
<br />
<br />
<div>
    <h3> @Model.ExperimentName</h3>
    <br />
    <span>Status: @Model.ExperimentStatus
        <form style="display:inline" asp-action="ResetExperiment" method="post">
            <input type="hidden" name="id" value="@Model.ExperimentId" />
            <button style="padding-inline:10px; border-radius:5px" type="submit">Reset Experiment</button>
        </form>
        &nbsp;&nbsp;&nbsp;&nbsp;
        @Model.NumberOfBulbs bulbs &nbsp;&nbsp;
        @Model.NumberOfPeople people &nbsp;&nbsp;
    Last Exited Person Number: @Model.LastExitedPersonNumber
        &nbsp;&nbsp;
        <form style="display:inline" asp-action="SendNextPerson" method="post">
            <input type="hidden" name="id" value="@Model.ExperimentId" />
            <button style="padding-inline:10px; border-radius:5px" type="submit">Send Next Person</button>
        </form>
        
    </span>
</div>

<div>
    @foreach (var bulbState in Model.ExperimentBulbStates)
    {
        <img src="@(bulbState.BulbState ? "~/images/BulbState/Bulb_On.jpg" : "~/images/BulbState/Bulb_Off.jpg")" width="65%" />
    }
</div>
